{% extends 'base.html' %}


{% block styles %}

<style type="text/css">

{% for f in fonts %}
.font_{{f.normal_path[:-4]}} {
  font-family: '{{f.name}}';
}
{% endfor %}

.font_name {
  font-family: initial;
}

.font_italic {
  font-style: italic;
}

.font_bold {
  font-weight: bold;
}

.font_bold_italic {
  font-weight: bold;
  font-style: italic;
}

</style>

{% endblock %}


{% block content %}

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Normal</th>
      <th>Italic</th>
      <th>Bold</th>
      <th>Bold Italic</th>
    </tr>
  </thead>
  <tbody>
    {% for f in fonts %}
    <tr class="font_{{f.normal_path[:-4]}}">
      <td class="font_name">{{f.name}}</td>
      <td class="font_normal">{{f.normal_path or ''}}</td>
      <td class="font_italic">{{f.italic_path or ''}}</td>
      <td class="font_bold">{{f.bold_path or ''}}</td>
      <td class="font_bold_italic">{{f.bold_italic_path or ''}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
