{% extends 'base.html' %}


{% block content %}

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Normal</th>
      <th>Bold</th>
      <th>Italic</th>
      <th>Bold Italic</th>
    </tr>
  </thead>
  <tbody>
    {% for f in fonts %}
    <tr>
      <td>{{f.name}}</td>
      <td>{{f.normal_path}}</td>
      <td>{{f.bold_path}}</td>
      <td>{{f.italic_path}}</td>
      <td>{{f.bold_italic_path}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
