{% extends 'base.html' %}


{% block styles %}

<style type="text/css">
  #messages {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 14px;
    background-color: white !important;
    white-space: pre;
  }
  #iters-progress {
    height: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #epochs-progress {
    height: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .tooltip-inner {
    white-space: pre-wrap;
  }
</style>

{% endblock %}


{% block content %}

<div class="d-flex justify-content-between mb-3">
  <div>
    <button class="btn btn-sm btn-primary" id="start-btn">Start</button>
    <div class="ml-2 custom-control-inline align-middle">
      <div class="custom-control custom-control-inline custom-switch">
        <input type="checkbox" class="custom-control-input" id="use-gpu">
        <label class="custom-control-label" for="use-gpu">Use GPU</label>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-sm" id="step"></a>
  </div>
  <div>
    <button class="btn btn-sm btn-outline-warning" id="clear-btn">Clear</button>
    <button class="btn btn-sm btn-outline-danger" id="stop-btn">Stop</button>
  </div>
</div>

<div class="mb-3">
  <textarea class="form-control" id="messages" rows="15" readonly></textarea>
</div>

<div class="mb-3" title="" id="progressbars">
  <div class="progress" id="iters-progress">
    <div class="progress-bar bg-primary" style="width: 0%;" role="progressbar" id="train-iters-progressbar"></div>
    <div class="progress-bar bg-success" style="width: 0%;" role="progressbar" id="val-iters-progressbar"></div>
  </div>
  <div class="progress" id="epochs-progress">
    <div class="progress-bar bg-info" style="width: 0%;" role="progressbar" id="epochs-progressbar"></div>
  </div>
</div>

<table class="table table-sm mb-3" id="status-info">
  <thead>
    <tr>
      <th>Layer</th>
      <th>Output shapes</th>
      <th>Receptive fields</th>
      <th>Forward</th>
      <th>Backward</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% endblock content %}


{% block scripts %}

<script type="text/javascript">

"use strict";

$.fn.exists = function () {
  return this.length !== 0;
}

function make_status_info_row(name, safe_name) {
  return `<tr id="${safe_name}">` +
    `<td>${name}</td>` +
    `<td class="info-output-shapes"></td>` +
    `<td class="info-receptive-fields"></td>` +
    `<td class="status-forward">False</td>` +
    `<td class="status-backward">False</td>` +
    `</tr>`;
}

window.onload = function() {
  var train_iter_current = 0, train_iters_total = 1;
  var val_iter_current = 0, val_iters_total = 1;
  var epoch_current = 0, epochs_total = 1;
  $("#progressbars").tooltip();
  var update_status = true;

  function append_message(message) {
    $("#messages").append(escapeHtml(message));
    document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
  }
  function reset_step() {
    let classes = "btn-outline-warning btn-outline-primary btn-outline-success";
    $("#step").removeClass(classes);
    $("#step").html("");
  }
  function reset_progressbars() {
    train_iter_current = 0;
    val_iter_current = 0;
    epoch_current = 0;
    update_progress();
  }
  function reset_status() {
    for (let cell_class of ["status-forward", "status-backward"]) {
      $("#status-info td." + cell_class).each(function () {
        $(this).html("False");
        $(this).removeClass("table-success");
      });
    }
  }
  function update_progress() {
    let iters_total = train_iters_total + val_iters_total;
    let train_iter_width = 100 * train_iter_current / iters_total;
    let val_iter_width = 100 * val_iter_current / iters_total;
    let epoch_width = 100 * epoch_current / epochs_total;
    $("#train-iters-progressbar").css("width", train_iter_width + '%');
    $("#val-iters-progressbar").css("width", val_iter_width + '%');
    $("#epochs-progressbar").css("width", epoch_width + '%');
    let new_title = (
      `Epochs: ${epoch_current}/${epochs_total}\n` +
      `Iterations (train): ${train_iter_current}/${train_iters_total}\n` +
      `Iterations (validation): ${val_iter_current}/${val_iters_total}`);
    let is_tooltip_shown = $(".tooltip").length > 0;
    $("#progressbars").attr("data-original-title", new_title);
    if (is_tooltip_shown) {
      $("#progressbars").tooltip("show");
    }
  }
  function iter_over_rows(info, func) {
    if (Array.isArray(info)) {
      for (let name of info) {
        let safe_name = name.split('/').join('-');
        func(safe_name, name);
      }
    }
    else {
      for (let [name, data] of Object.entries(info)) {
        let safe_name = name.split('/').join('-');
        func(safe_name, data);
      }
    }
  }

  let socket = io.connect("ws://127.0.0.1/train-ws");
  socket.on("message", function(message) {
    append_message(message);
  });
  socket.on("info", function (info) {
    for (let [info_type, info_data] of Object.entries(info)) {
      if (info_type == "layer_names") {
        iter_over_rows(info_data, function (safe_name, data) {
          if (!$('#' + safe_name).exists()) {
            $("#status-info tbody").append(make_status_info_row(data, safe_name));
          }
        });
      }
      if (info_type == "output_shapes") {
        iter_over_rows(info_data, function (safe_name, data) {
          let cell = $('#' + safe_name + " .info-output-shapes");
          cell.html(data.join("<br>"));
        });
      }
      if (info_type == "receptive_fields") {
        iter_over_rows(info_data, function (safe_name, data) {
          let cell = $('#' + safe_name + " .info-receptive-fields");
          cell.html(data);
        });
      }
    }
  });
  socket.on("progress_tracker", function(status) {
    let status_type = status["type"];
    let status_data = status["data"];
    if (status_type == "reset") {
      reset_status();
    }
    else if (status_type == "generating_data") {
      reset_step();
      $("#step").html("Generating data");
      $("#step").addClass("btn-outline-warning");
    }
    else if (status_type == "training") {
      reset_step();
      $("#step").html("Training");
      $("#step").addClass("btn-outline-primary");
      $("#epochs-progressbar").addClass("btn-outline-primary");
    }
    else if (status_type == "validating") {
      reset_step();
      $("#step").html("Validating");
      $("#step").addClass("btn-outline-success");
      $("#epochs-progressbar").addClass("btn-outline-success");
    }
    else if (status_type == "train_iteration") {
      train_iter_current = status_data["current"];
      train_iters_total = status_data["total"];
      update_progress();
    }
    else if (status_type == "val_iteration") {
      val_iter_current = status_data["current"];
      val_iters_total = status_data["total"];
      update_progress();
    }
    else if (status_type == "epoch") {
      epoch_current = status_data["current"] - 1;
      epochs_total = status_data["total"];
      update_progress();
    }
    else if (status_type == "disable_status_update") {
      update_status = false;
    }
    else if (status_type == "enable_status_update") {
      update_status = true;
    }
    else if (status_type == "forward_backward") {
      if (!update_status)
        return;
      for (let [name, events] of Object.entries(status_data)) {
        let safe_name = name.split('/').join('-');
        let row_name = '#' + safe_name;
        if (!$(row_name).exists()) {
          $("#status-info tbody").append(make_status_info_row(name, safe_name));
        }
        for (let [event_name, event] of Object.entries(events)) {
          let counter = parseInt(event.counter);
          let result = counter > 0 ? event.time : "False";
          if (counter > 1) {
            result += ' x' + event.counter;
          }
          let cell = $(row_name + ` .status-${event_name}`);
          cell.html(result);
          if (event.done) {
            cell.addClass("table-success");
          }
        }
      }
    }
    else {
      append_message(status_data + "\n");
    }
  });

  $("#start-btn").click(function () {
    append_message("=".repeat(80) + "\n\n");
    socket.emit("start", {
      "use_gpu": $("#use-gpu").prop("checked"),
    });
  });
  $("#clear-btn").click(function () {
    reset_step();
    reset_progressbars();
    reset_status();
    $("#messages").html("");
    $("#status-info tbody").html("");
  });
  $("#stop-btn").click(function () {
    socket.emit("stop");
  });
}

</script>

{% endblock %}
